//
//	             `dMNdddddddddddddddddddddddddddMMo             
//	               yM/                         yN/              
//	                oMo                      `dN-               
//	    `-`    --    ./-    .-  `-` --------``-:::-`   .-----.  
//	    +M+   oMNs    NMd`  mN  oM:`sssNMsss-sNy++yNy` yMyoosdN:
//	    +M+  :M+/M/   NNdm- mN  oM:    mM   yM:    .Md yM-   /Mo
//	    +M+ .Nm--dM-  NN`hN:mN  oM:    mM   mM`     NN yMhyyhMd`
//	Nm  oM/`mNoooomm` NN  sMMN  oM:    mM   /My`  `oM+ yM-   /Mo
//	:hdhdo +d:    -do hh   /dh  +d-    yd    .sdhhds-  od.   .ds
//	                         +s`     :s:                        
//	                         .dm-   +Ms                         
//	                          `yN: sM/                          
//	                            oMmN-                           
//

// == COLORS == //
// - Main Colors - //
$color-primary : #6A3684;
$color-secondary : #FDD454;
// - Greyscale - //
$color-clear : #FFFFFF;
$color-grey : #B8BDC8;
// - Message Colors - //
$color-status : #69BC3C;
$color-error : #E04D4D;
$color-warning : #EBB35A;

// == SETTINGS == //
// - Header - //
$header-height-mobile : 120px;
$header-strip-height-desktop : 38px;
$header-height-desktop : 231px;
// - Container Background - //
$container-bg : $color-clear;
// - Page Margin - //
$page-margin : 20px;
// - Gutter (horizontal space between columns) - //
$gutter : 20px;
// - Breakpoints - //
$feature-width : 320px;
$smart-width : 480px;
$tablet-width : 768px;
$desktop-width : 960px;
$large-width : 1200px;
$extra-width : 1400px;
// - Sidebar - //
$sidebar-width-left-small : 200px;
$sidebar-width-right-small : 250px;
$sidebar-width-left : 300px;
$sidebar-width-right : 350px;
$content-bg : $color-clear;
$sidebar-bg : darken($color-grey, 10%);

// == BASE == //
// - Mixins - //
@import 'base/mixins';
// - Base - //
@import 'base/base';
// - Grid - //
@import 'base/grid';
// - Layout - //
@import 'base/layout';
// - Navigation - //
@import 'base/navigation';
// - Functions - //
@import 'base/functions';

// == DRUPAL == //
// - Blocks - //
@import 'drupal/blocks';
// - Messages - //
@import 'drupal/messages';
// - Lists - //
@import 'drupal/lists';

// == CONTRIB == //
// - Overrides - //
@import 'contrib/overrides';
// - Customizations - //
@import 'contrib/custom';

// == THEME ==//
// - Base - //
	// base
	// typography
	// links
	// forms
	// lists
	// elements
	// functions
	// snippets
// - Layout - //
	// header
	// banner
	// footer
// - Components - //
	// global
	// regions
// - Content - //
	// content type