// == COMPONENTS == //
// - Account Menu - //
#block-janitor-account-menu { margin-right: 10px;
	@include smart {
		margin-right: 0;
	}
	ul { margin: 0; padding: 0; float: right;
		li { list-style: none; float: left; margin-left: 10px;
			a { color: $color-secondary; }
		}
	}
}

// - Branding - //
#block-janitor-branding { float: left; padding: 20px 0 14px 10px; position: relative; width: 100%;
	@include smart {
		padding-left: 0;
	}
	a.site-logo { display: block; float: left; width: 100px;
		img { display: block; width: 100%; height: auto; }
	}
	a.site-name { color: $color-clear; float: left; text-decoration: none; margin-top: 13px; margin-left: 20px; }
}
@include desktop {
	html:not([data-browser*="iPad"]):not([data-browser*="Android"]) {
		// - Branding - //
		#block-janitor-branding { padding: 20px 0 40px 0; width: auto;
			a.site-logo { float: none; width: auto; max-width: 200px; }
			a.site-name { margin-top: 6px; margin-left: auto; float: none; white-space: nowrap;
				@include center(true, false);
			}
		}
	}
}

// - Breadcrumb - //
#block-janitor-breadcrumbs {
	ol { margin: 10px 0; padding: 0; width: 100%; float: left;
		li { list-style: none; display: inline;
			&:after { content: ' /'; display: inline; color: $color-grey; }
			&:last-child:after { display: none; }
			a { text-decoration: none; color: $color-grey; }
		}
	}
}

// - Container Style Conditionals - //
.jcontainer-fluid {
	@include smart {
		// - Account Menu - //
		#block-janitor-account-menu { margin-right: 10px; }
		// - Branding - //
		#block-janitor-branding { padding-left: 10px; }
	}
	&.jcontainer-set {
		@include large {
			// - Account Menu - //
			#block-janitor-account-menu { margin-right: 0; }
			// - Branding - //
			#block-janitor-branding { padding-left: 0; }
		}
	}
}

// - Local Tasks - //
#block-janitor-local-tasks {
	ul { margin: 10px 0; padding: 0; width: 100%; float: left;
		li { list-style: none; float: left; margin-right: 4px;
			a { background: $color-grey; color: $color-clear; text-decoration: none; display: inline-block; height: 28px; line-height: 28px; padding: 0 10px;
				&.is-active { background: $color-primary; }
			}
		}
	}
}

// - Footer Menu - //
#block-janitor-footer { width: auto; float: right;
	h2 { display: none; }
	ul { margin: 0; padding: 0;
		li { list-style: none;
			a { text-decoration: none; color: $color-clear; }
		}
	}
}

// - Powered by - //
#block-janitor-powered { width: auto; float: right;
	span { color: $color-clear;
		a { color: $color-secondary; text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
}