// == MESSAGES == //
.message { padding: 10px 10px 10px 50px; position: relative; background: transparentize($color-status, 0.8); color: $color-status; margin: 10px 0; border: 1px solid $color-status; float: left; width: 100%;
	@include rounded(4px, 4px, 4px, 4px);
	&:before { font-family: FontAwesome; position: absolute; height: calc(100% - 10px); width: 40px; left: 0; top: 0; font-size: 20px; padding-top: 10px; text-align: center; content: '\f00c'; background: $color-status; color: darken($color-status, 12%);
		@include rounded(4px, 0, 0, 4px);
	}	
}
// warning
.message-warning { color: $color-warning; background: transparentize($color-warning, 0.8); border: 1px solid $color-warning;
	&:before { content: '\f12a'; background: $color-warning; color: darken($color-warning, 12%); }
}
// error
.message-error { color: $color-error; background: transparentize($color-error, 0.8); border: 1px solid $color-error;
	&:before { content: '\f00d'; background: $color-error; color: darken($color-error, 12%); }
}