// == BASE == //
// - All - //
* { @include boxSize(border-box); }

// - Background - //
body { background: lighten($color-grey, 20%); }

// - Links - //
a { color: $color-primary;
	&:hover { text-decoration: none; }
}

// - Lists - //
// default
ul, ol { padding: 0 0 0 28px; }

// - Forms - //
// form
form {}

// input
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	&:focus {}
	&[disabled] { cursor: not-allowed; }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus {}
}

input:not([type]) {
	&:focus {}
	&[disabled] { cursor: not-allowed; }
}

// textarea
textarea {
	&:focus {}
	&[disabled] { cursor: not-allowed; }
}

// label
label {}

// fieldset
fieldset {}

// legend
legend {}

// select
select { @include boxSize(border-box);
	&:focus {}
	&[disabled] { cursor: not-allowed; }
	&[multiple] { height: auto; }
}

// optgroup
optgroup {}

// option
option {}

// button
button {}

// output
output {}

// placeholder
@mixin placeholder {}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	@include placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
	@include placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
	@include placeholder;
}
:-moz-placeholder { /* Firefox 18- */
	@include placeholder;
}

// - Snippets - //
// center align elements within parent
.center-hori { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(true, false);
	}
}
.center-vert { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(false, true);
	}
}
.center-both { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(true, true);
	}
}