$col-margin : calc(#{$gutter} / 2); // DO NOT CHANGE THIS //

// == BREAKPOINTS == //
@mixin feature {
	@media (min-width: #{$feature-width}) {
		@content;
	}
}
@mixin smart {
	@media (min-width: #{$smart-width}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
@mixin large {
	@media (min-width: #{$large-width}) {
		@content;
	}
}
@mixin extra {
	@media (min-width: #{$extra-width}) {
		@content;
	}
}

// == COLUMN GENERATOR == //
@mixin generateColumns($col-infix, $col-hop: false, $col-pop: false, $col-flush: false, $col-count: 12) {
	@for $i from 1 through $col-count {
		@each $infix in $col-infix {

			$marginNormal : calc(((100% / #{$col-count}) * #{$i}) + #{$col-margin});
			$marginFlush : calc(((100% / #{$col-count}) * #{$i}));

			@if $col-hop == false and $col-pop == false {
				@if $col-flush {
					// normal + flush
					.jcol-#{$infix + "-" + $i}.jcol-flush { width: calc((100% / #{$col-count}) * #{$i}); }
				} @else {
					// normal
					.jcol-#{$infix + "-" + $i} { width: calc(((100% / #{$col-count}) * #{$i}) - #{$gutter}); }
				}
			} @elseif $col-hop {
				@if $col-flush {
					// hop + flush
					.jcol-#{$infix + "-hop-" + $i}.jcol-flush { margin-left: $marginFlush; }
				} @else {
					// hop
					.jcol-#{$infix + "-hop-" + $i} { margin-left: $marginNormal; }
				}
			} @elseif $col-pop {
				@if $col-flush {
					// pop + flush
					.jcol-#{$infix + "-pop-" + $i}.jcol-flush { margin-right: $marginFlush; }
				} @else {
					// pop
					.jcol-#{$infix + "-pop-" + $i} { margin-right: $marginNormal; }
				}
			}
		}
	}
}

@mixin generateFlexColumns($col-infix, $col-hop: false, $col-pop: false, $col-flush: false, $col-count: 12) {
	@for $i from 1 through $col-count {
		@each $infix in $col-infix {

			$marginNormal : calc(((100% / #{$col-count}) * #{$i}) + #{$col-margin});
			$marginFlush : calc(((100% / #{$col-count}) * #{$i}));

			@if $col-hop == false and $col-pop == false {
				// normal
				.flex-col-#{$infix + "-" + $i} { flex-basis: calc(((100% / #{$col-count}) * #{$i}) - #{$gutter}); }
			} @elseif $col-hop {
				@if $col-flush {
					// hop + flush
					.flex-col-#{$infix + "-hop-" + $i} { margin-left: $marginFlush; }
				} @else {
					// hop
					.flex-col-#{$infix + "-hop-" + $i} { margin-left: $marginNormal; }
				}
			} @elseif $col-pop {
				@if $col-flush {
					// pop + flush
					.flex-col-#{$infix + "-pop-" + $i} { margin-right: $marginFlush; }
				} @else {
					// pop
					.flex-col-#{$infix + "-pop-" + $i} { margin-right: $marginNormal; }
				}
			}
		}
	}
}

// == GRID == //
.jcontainer { position: relative; width: 100%; margin: 0 auto; padding: 0 $page-margin; float: left; clear: left; background: $container-bg; // theme stuff included
	.jrow { width: 100%; float: left;
		.jcol { float: left; margin: 0 $col-margin; width: calc(100% - #{$gutter}); }
		.jcol-flush { margin: 0; width: 100%; }
		.jcol-nest { padding: 0 $col-margin; }
		.jcol-nest-flush { padding: 0; }
	}
	.flex-row { display: flex; flex-wrap: wrap;
		.flex-col { flex-basis: 0; flex-grow: 1; max-width: 100%; margin: 0 $col-margin; }
		.flex-col-flush { margin: 0; }
		.flex-col-nest { padding: 0 $col-margin; }
		.flex-col-nest-flush { padding: 0; }
		.no-equalize { align-self: flex-start; }
	}
}
.jcontainer-has-sidebar,
.jcontainer-has-sidebar-both { display: flex; flex-wrap: wrap; padding: 0 !important;
	.jcontent,
	.jsidebar { flex-basis: 100%; flex-grow: 1; max-width: 100%; padding: 0 $page-margin; }
	.jcontent { background: $content-bg; }
	.jsidebar { background: $sidebar-bg; }
}

// ==== TEMPORARY ==== //
.jheader.remove_this { position: relative; z-index: 0;
	.jcontainer { background: $color-primary !important;
		.jcol {
			img { margin: 100px auto; width: 100%; max-width: 400px; height: auto; display: block; }
		}
	}
}

.jcontainer.remove_this { background: $color-clear; z-index: 0; position: relative;
	.jrow {
		.jcol { background: lighten($color-grey, 15%); text-align: center; height: 30px; line-height: 30px; margin-top: $col-margin; margin-bottom: $col-margin;
			@include rounded(4px, 4px, 4px, 4px);
		}
		.jcol-flush { background: $color-grey; }
		.jcol-nest { height: auto; padding: $col-margin;
			.jrow {
				.jcol { background: $color-primary; color: $color-clear; }
				.jcol-flush { background: $color-secondary; }
			}
		}
		.jcol-nest-flush { padding: $col-margin 0; }
	}
	.flex-row {
		.flex-col { background: $color-error; text-align: center; height: 30px; line-height: 30px; margin-top: $col-margin; margin-bottom: $col-margin; color: $color-clear;
			@include rounded(4px, 4px, 4px, 4px);
		}
		.flex-col-nest { height: auto; padding: $col-margin; background: $color-warning; }
		.flex-col-nest-flush { padding: $col-margin 0; }
	}
}
.jcontainer-has-sidebar.remove_this, .jcontainer-has-sidebar-both.remove_this {
	.jrow {
		.jcol { background: $color-primary; color: $color-clear; }
		.jcol-flush { background: $color-secondary; }
	}
}

// ======== MEDIA QUERIES ======== //
// - Feature Phones - //
@include feature {

// == GRID == //
.jcontainer {
	.jrow {
		@include generateColumns(fea, false, false, false);
		@include generateColumns(fea, true, false, false);
		@include generateColumns(fea, false, true, false);
		@include generateColumns(fea, false, false, true);
		@include generateColumns(fea, true, false, true);
		@include generateColumns(fea, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(fea, false, false, false);
		@include generateFlexColumns(fea, true, false, false);
		@include generateFlexColumns(fea, false, true, false);
		@include generateFlexColumns(fea, false, false, true);
		@include generateFlexColumns(fea, true, false, true);
		@include generateFlexColumns(fea, false, true, true);
	}
}

}

// - Smart Phones - //
@include smart {

$value : $smart-width - $gutter * 2;
$left-margin : $value / 2;

// == GRID == //
.jcontainer { width: $value; left: 50%; margin-left: -$left-margin;
	.jrow {
		@include generateColumns(sma, false, false, false);
		@include generateColumns(sma, true, false, false);
		@include generateColumns(sma, false, true, false);
		@include generateColumns(sma, false, false, true);
		@include generateColumns(sma, true, false, true);
		@include generateColumns(sma, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(sma, false, false, false);
		@include generateFlexColumns(sma, true, false, false);
		@include generateFlexColumns(sma, false, true, false);
		@include generateFlexColumns(sma, false, false, true);
		@include generateFlexColumns(sma, true, false, true);
		@include generateFlexColumns(sma, false, true, true);
	}
}
.jcontainer-fluid { width: 100% !important; margin-left: -50% !important; }

}

// - Tablet - //
@include tablet {

$value : $tablet-width - $gutter * 2;
$left-margin : $value / 2;

// == GRID == //
.jcontainer { width: $value; margin-left: -$left-margin;
	.jrow {
		@include generateColumns(tab, false, false, false);
		@include generateColumns(tab, true, false, false);
		@include generateColumns(tab, false, true, false);
		@include generateColumns(tab, false, false, true);
		@include generateColumns(tab, true, false, true);
		@include generateColumns(tab, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(tab, false, false, false);
		@include generateFlexColumns(tab, true, false, false);
		@include generateFlexColumns(tab, false, true, false);
		@include generateFlexColumns(tab, false, false, true);
		@include generateFlexColumns(tab, true, false, true);
		@include generateFlexColumns(tab, false, true, true);
	}
}
.jcontainer-has-sidebar,
.jcontainer-has-sidebar-both { flex-wrap: nowrap;
	.jcontent-left { flex-basis: calc(100% - #{$sidebar-width-right-small}); padding: 0 calc(#{$page-margin} / 2) 0 $page-margin; }
	.jcontent-right { flex-basis: calc(100% - #{$sidebar-width-left-small}); padding: 0 $page-margin 0 calc(#{$page-margin} / 2); }
	.jcontent-middle { flex-basis: calc(100% - ( #{$sidebar-width-left-small} + #{$sidebar-width-right-small} )); padding: 0 calc(#{$page-margin} / 2) 0 calc(#{$page-margin} / 2); }
	.jsidebar-left { flex-basis: $sidebar-width-left-small; padding: 0 calc(#{$page-margin} / 2) 0 $page-margin; }
	.jsidebar-right { flex-basis: $sidebar-width-right-small; padding: 0 $page-margin 0 calc(#{$page-margin} / 2); }
}

}

// - Desktop - //
@include desktop {

$value : $desktop-width - $gutter * 2;
$left-margin : $value / 2;

// == GRID == //
.jcontainer { width: $value; margin-left: -$left-margin;
	.jrow {
		@include generateColumns(des, false, false, false);
		@include generateColumns(des, true, false, false);
		@include generateColumns(des, false, true, false);
		@include generateColumns(des, false, false, true);
		@include generateColumns(des, true, false, true);
		@include generateColumns(des, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(des, false, false, false);
		@include generateFlexColumns(des, true, false, false);
		@include generateFlexColumns(des, false, true, false);
		@include generateFlexColumns(des, false, false, true);
		@include generateFlexColumns(des, true, false, true);
		@include generateFlexColumns(des, false, true, true);
	}
}
.jcontainer-has-sidebar,
.jcontainer-has-sidebar-both {
	.jcontent-left { flex-basis: calc(100% - #{$sidebar-width-right}); }
	.jcontent-right { flex-basis: calc(100% - #{$sidebar-width-left}); }
	.jcontent-middle { flex-basis: calc(100% - ( #{$sidebar-width-left} + #{$sidebar-width-right} )); }
	.jsidebar-left { flex-basis: $sidebar-width-left; }
	.jsidebar-right { flex-basis: $sidebar-width-right; }
}

}

// - Large Screens - //
@include large {

$value : $large-width - $gutter * 2;
$left-margin : $value / 2;

// == GRID == //
.jcontainer { width: $value; margin-left: -$left-margin;
	.jrow {
		@include generateColumns(lar, false, false, false);
		@include generateColumns(lar, true, false, false);
		@include generateColumns(lar, false, true, false);
		@include generateColumns(lar, false, false, true);
		@include generateColumns(lar, true, false, true);
		@include generateColumns(lar, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(lar, false, false, false);
		@include generateFlexColumns(lar, true, false, false);
		@include generateFlexColumns(lar, false, true, false);
		@include generateFlexColumns(lar, false, false, true);
		@include generateFlexColumns(lar, true, false, true);
		@include generateFlexColumns(lar, false, true, true);
	}
}
.jcontainer-fluid.jcontainer-set { margin-left: -$left-margin !important; }
.jcontainer-set { width: $value !important; }

}

// - Extra Large Screens - //
@include extra {

$value : $extra-width - $gutter * 2;
$left-margin : $value / 2;

// == GRID == //
.jcontainer { width: $value; margin-left: -$left-margin;
	.jrow {
		@include generateColumns(ext, false, false, false);
		@include generateColumns(ext, true, false, false);
		@include generateColumns(ext, false, true, false);
		@include generateColumns(ext, false, false, true);
		@include generateColumns(ext, true, false, true);
		@include generateColumns(ext, false, true, true);
	}
	.flex-row {
		@include generateFlexColumns(ext, false, false, false);
		@include generateFlexColumns(ext, true, false, false);
		@include generateFlexColumns(ext, false, true, false);
		@include generateFlexColumns(ext, false, false, true);
		@include generateFlexColumns(ext, true, false, true);
		@include generateFlexColumns(ext, false, true, true);
	}
}
.jcontainer-fluid.jcontainer-set { margin-left: -$left-margin !important; }
.jcontainer-set { width: $value !important; }

}