// == GLOBAL == //
.page-wrapper { width: 100%; float: left; }
header#page-header, #page-banner, main#page-main, footer#page-footer { width: 100%; float: left; }

// == HEADER == //
#page-header { height: $header-height-mobile; background: $color-primary url(../images/drupal-fade.png) no-repeat 90% -180px; z-index: 9; position: relative; // theme stuff included
	// fixed header
	&.header-fixed { position: fixed; top: 0; }
	// sticky header
	&.stick { position: fixed; top: 0; }
}
// - Element after fixed header - //
.header-fixed-after { width: 100%; float: left; margin-top: $header-height-mobile; }
// - Element after sticky header - //
.header-sticky-after { margin-top: 0; width: 100%; float: left;
	&.header-stick { margin-top: $header-height-mobile; }
}
// - Header Strip - //
.header-strip { width: 100%; float: left; background: transparentize(#000000, 0.82); padding: 10px 0; // theme stuff included
	.jcontainer { background: none; }
	@include smart {
		.jcontainer { padding: 0; }
		.jcontainer-fluid { padding: 0 $page-margin; }
	}
	@include large {
		.jcontainer-fluid.jcontainer-set { padding: 0; }
	}
}
// - Header Main - //
.header-main { width: 100%; float: left;
	.jcontainer { background: none; }
	@include smart {
		.jcontainer { padding: 0; }
		.jcontainer-fluid { padding: 0 $page-margin; }
	}
	@include large {
		.jcontainer-fluid.jcontainer-set { padding: 0; }
	}
}

@include desktop {
	html:not([data-browser*="iPad"]):not([data-browser*="Android"]) {
		#page-header { height: $header-height-desktop; }
		// - Element after fixed header - //
		.header-fixed-after { margin-top: $header-height-desktop; }
		// - Element after sticky header - //
		.header-sticky-after.header-stick { margin-top: $header-height-desktop; }
		// - Header Strip - //
		.header-strip { height: $header-strip-height-desktop; line-height: $header-strip-height-desktop; padding: 0; }
	}
}

// == BANNER == //
#page-banner { min-height: 100px; background: darken($color-grey, 15%); text-align: center; color: $color-clear; line-height: 100px; } // theme stuff included

// == MAIN == //
#page-main {}

// == FOOTER == //
#page-footer { background: darken($color-primary, 6%); padding: 10px 0; // theme stuff included
	.jcontainer { background: none; padding: 0; }
}