// == NAVIGATION == //
// - Main Menu - //
#block-janitor-main-menu { display: none; width: 100%; float: left; position: relative; overflow-y: scroll;
	// first level
	ul { margin: 0; padding: 0; background: $color-clear; width: 100%; float: left;
		li { list-style: none; float: left; width: 100%; line-height: 48px; border-bottom: 1px solid lighten($color-grey, 30%); position: relative;
			a { color: $color-primary; text-decoration: none; display: block; padding: 0 20px; }
			sub { right: 0; height: 48px; line-height: 48px; width: 48px; background: none; display: block; position: absolute; bottom: auto; top: 0; text-align: center; cursor: pointer; font-size: 1em;
				i { color: $color-grey; }
				i.active { color: $color-primary; }
			}
			// second level
			ul { background: darken($color-clear, 2%); display: none;
				li {
					&:first-child { border-top: 1px solid lighten($color-grey, 30%); }
					&:last-child { border-bottom: none; }
					a { padding: 0 30px; }
					// third level
					ul { background: darken($color-clear, 4%); display: none;
						li {
							a { padding: 0 40px; }
						}
					}
				}
			}
			ul.active { display: block; }
		}
	}
}
@include desktop {
	html:not([data-browser*="iPad"]):not([data-browser*="Android"]) {
		#block-janitor-main-menu { display: block; overflow-y: visible;
			// first level
			ul { background: none; width: auto; float: none;
				li { width: auto; line-height: normal; border-bottom: none;
					a { display: inline-block; padding: 10px 5px; }
					sub { font-size: 9px; line-height: normal; height: auto; width: 20px; padding-top: 14px;
						i { color: $color-primary; }
					}
					&:hover {
						ul { display: block; }
					}
					// second level
					ul { position: absolute; left: 0; background: $color-clear;
						li { width: 100%; line-height: 30px; border-bottom: 1px solid lighten($color-grey, 30%);
							&:last-child { border-bottom: none; }
							a { white-space: nowrap; }
							sub { line-height: 30px; padding-top: 0; height: 30px; width: 30px; }
							// third level
							ul { display: none !important; left: 100%; top: -1px;
								&.wrapper-3-fit { left: auto; right: 100%; }
							}
							&:hover {
								ul { display: block !important;
									li {
										a { padding: 0 10px; }
									}
								}
							}
						}
						&.wrapper-2-fit { left: auto; right: 0; }
					}
					&.has-ul {
						a { padding: 10px 20px 10px 5px; }
						// second level
						ul {
							li {
								a { padding: 0 10px; }
								&.has-ul {
									a { padding: 0 30px 0 10px; }
								}
								// third level
								ul {
									li {
										a { padding: 0 10px !important; }
									}
								}
							}
						}
					}
				}
			}
			&.menu-inline { width: auto; float: none; position: absolute; height: $header-height-desktop - $header-strip-height-desktop; right: 0;
				// first level
				ul { height: 100%;
					li { height: 100%;
						&:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
						a { color: $color-secondary; vertical-align: middle; }
						sub { top: calc(50% - 4px); padding-top: 0;
							i { color: $color-secondary; }
						}
						// second level
						ul { height: auto; top: 100%;
							li { height: auto;
								&:before { display: none; }
								a { color: $color-primary; }
								sub { top: 0;
									i { color: $color-primary; }
								}
								// third level
								ul { top: -1px; }
							}
						}
					}
				}
			}
			&.menu-full { background: $color-secondary;
				&:before, &:after { content: ''; position: absolute; height: 100%; width: 400px; top: 0; display: block; background: $color-secondary; }
				&:before { left: -400px; }
				&:after { right: -400px; }
				// first level
				ul {
					li {
						&:first-child { margin-left: 25px; }
						// second level
						ul {
							li {
								&:first-child { margin-left: auto; }
							}
						}
					}
				}
			}
		}
		// - Container Style Conditionals - //
		.jcontainer-fluid {
			#block-janitor-main-menu.menu-full > ul > li:first-child { margin-left: 5px; }
			#block-janitor-main-menu.menu-inline > ul > li:last-child { margin-right: 25px; }
			&.jcontainer-set {
				@include large {
					#block-janitor-main-menu.menu-full > ul > li:first-child { margin-left: 25px; }
					#block-janitor-main-menu.menu-inline > ul > li:last-child { margin-right: 5px; }
				}
			}
		}
	}
}

// - Main Menu Toggler - //
.toggler { display: block; position: absolute; top: 0; right: 0; text-align: center; height: 80px; line-height: 80px; width: 80px; cursor: pointer;
	div { width: 24px; position: absolute; height: 18px; display: block; top: 32px; left: 26px; }
	span { display: block; position: absolute; height: 4px; width: 100%; background: $color-secondary; left: 0;
		@include rounded(4px, 4px, 4px, 4px);
		@include transition(all, 0.25s, ease-in-out);
		@include rotate(0);
		&:nth-child(1) { top: 0; }
		&:nth-child(2), &:nth-child(3) { top: 7px; }
		&:nth-child(4) { top: 14px; }
	}
}
.toggler.open {
	span {
		&:nth-child(1) { top: 14px; width: 0%; left: 50%; }
		&:nth-child(2) {
			@include rotate(45);
		}
		&:nth-child(3) {
			@include rotate(-45);
		}
		&:nth-child(4) { top: 14px; width: 0%; left: 50%; }
	}
}
@include desktop {
	html:not([data-browser*="iPad"]):not([data-browser*="Android"]) {
		.toggler { display: none; }
	}
}

// - Blackout - //
.blackout { display: none; position: fixed; height: 100%; width: 100%; background: transparentize(#000000, 0.6); z-index: 1; }
@include desktop {
	html:not([data-browser*="iPad"]):not([data-browser*="Android"]) {
		.blackout { display: none !important; }
	}
}
