{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.strip: Items for the strip region
 * - page.header: Items for the header region
 * - page.banner: Items for the banner region
 * - page.content_top: Items for the content top region
 * - page.content: Items for the content region
 * - page.sidebar_first: Items for the left sidebar region
 * - page.sidebar_second: Items for the right sidebar region
 * - page.content_bottom: Items for the content bottom region
 * - page.footer_top: Items for the Footer top region
 * - page.footer: Items for the footer region
 * - page.footer_bottom: Items for the footer bottom region
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="page-wrapper">

  <div class="blackout"></div>

  {# == HEADER == #}
  {% if header_attributes.class == "header-sticky" %}
    {# == BANNER == #}
    <div id="page-banner" class="header-sticky-before" role="banner">
      {{ page.banner }}
      Banner Region
    </div>
  {% endif %}

  <header{{ header_attributes }} id="page-header" role="header">
    
    {# - Header Strip - #}
    <div class="header-strip">
      <div{{ container_attributes }}>
        {{ page.strip }}
      </div>
    </div>
    
    {# - Header Main - #}
    <div class="header-main">
      <div{{ container_attributes }}>
        {{ page.header }}
      </div>
    </div>
    
  </header>

  {% if header_attributes.class == "header-fixed" or header_attributes.class == "header-sticky" %}
    <div{{ helper_bottom_attributes }}></div>
  {% endif %}
  
  {% if header_attributes.class != "header-sticky" %}
    {# == BANNER == #}
    <div id="page-banner" role="banner">
      {{ page.banner }}
      Banner Region
    </div>
  {% endif %}

  {# == MAIN == #}
  <main id="page-main" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {# - Content Top - #}
    <div{{ container_attributes }}>
      <div class="jrow">
        {{ page.content_top }}
      </div>
    </div>

    {# - Content - #}
    <div{{ attributes }}>
      
      {% if page.sidebar_first %}
      <aside class="jsidebar jsidebar-left">
        {{ page.sidebar_first }}
      </aside>
      {% endif %}

      <section{{ content_attributes }}>
        {{ page.content }}
      </section>
      
      {% if page.sidebar_second %}
      <aside class="jsidebar jsidebar-right">
        {{ page.sidebar_second }}
      </aside>
      {% endif %}

    </div>


    {# - Janitor Example Stuff - #}
    {% include directory ~ '/templates/parts/example.html.twig' %}


    {# - Content Bottom - #}
    <div{{ container_attributes }}>
      <div class="jrow">
        {{ page.content_bottom }}
      </div>
    </div>

  </main>

  {# == FOOTER == #}
  <footer id="page-footer" role="contentinfo">

    {# - Footer Top - #}
    <div{{ container_attributes }}>
      <div class="jrow">
        {{ page.footer_top }}
      </div>
    </div>

    {# - Footer Main - #}
    <div{{ container_attributes }}>
      <div class="jrow">
        {{ page.footer }}
      </div>
    </div>

    {# - Footer Bottom - #}
    <div{{ container_attributes }}>
      <div class="jrow">
        {{ page.footer_bottom }}
      </div>
    </div>
    
  </footer>
  
</div>