    {# -||||||||||||||||||| INCLUDE START |||||||||||||||||||- #}
    <div{{ container_attributes }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-tab-6">
          <h2>Headings</h2>
          <h1>This is an &lt;h1&gt; heading tag</h1>
          <h2>This is an &lt;h2&gt; heading tag</h2>
          <h3>This is an &lt;h3&gt; heading tag</h3>
          <h4>This is an &lt;h4&gt; heading tag</h4>
          <h5>This is an &lt;h5&gt; heading tag</h5>
          <h6>This is an &lt;h6&gt; heading tag</h6>
        </div>
        <div class="jcol jcol-fea-12 jcol-tab-6">
          <h2>Paragraphs</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer.</p>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer.</p>
        </div>
      </div>

      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-tab-6">
          <h2>Unordered Lists</h2>
          <ul>
            <li>List item number 1</li>
            <li>List item number 2</li>
            <li>List item number 3</li>
            <li>List item number 4</li>
            <li>List item number 5</li>
            <li>List item number 6</li>
          </ul>
        </div>
        <div class="jcol jcol-fea-12 jcol-tab-6">
          <h2>Ordered Lists</h2>
          <ol>
            <li>List item number 1</li>
            <li>List item number 2</li>
            <li>List item number 3</li>
            <li>List item number 4</li>
            <li>List item number 5</li>
            <li>List item number 6</li>
          </ol>
        </div>
      </div>
      
      <div class="jrow">
        <div class="jcol jcol-fea-4">
          <h2>Accordion</h2>
          <ul class="jaccordion">
            <li>
              <div class="itemBar">Item 1</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
                <ul>
                  <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                  <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                  <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                </ul>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                <ul>
                  <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                  <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                </ul>
              </div>    
            </li>
            <li class="is-visible">
              <div class="itemBar">Item 2 ~ Is Visible On Initial Load</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
              </div>    
            </li>
            <li>
              <div class="itemBar">Item 3</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
              </div>    
            </li>
          </ul>
        </div>
        <div class="jcol jcol-fea-4">
          <h2>Nested Accordions</h2>
          <ul class="jaccordion">
            <li>
              <div class="itemBar">Item 1</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <ul class="jaccordion is-independent">
                  <li>
                    <div class="itemBar">Nested Item 1 ~ Is Dependent</div>
                    <div class="itemContent" style="opacity: 0; display: none;">
                      <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
                    </div>    
                  </li>
                  <li class="is-visible">
                    <div class="itemBar">Nested Item 2 ~ Is Dependent ~ Is Visible On Initial Load</div>
                    <div class="itemContent" style="opacity: 0; display: none;">
                      <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
                    </div>    
                  </li>
                  <li>
                    <div class="itemBar">Nested Item 3 ~ Is Dependent</div>
                    <div class="itemContent" style="opacity: 0; display: none;">
                      <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
                    </div>    
                  </li>
                </ul>
              </div>    
            </li>
            <li>
              <div class="itemBar">Item 2</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
              </div>    
            </li>
            <li>
              <div class="itemBar">Item 3</div>
              <div class="itemContent" style="opacity: 0; display: none;">
                <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
              </div>    
            </li>
          </ul>
        </div>
        <div class="jcol jcol-fea-4">
          <h2>Tabber</h2>
          <ul class="jtabber">
            <li class="open" data-contents="tab1">Tab 1</li>
            <li data-contents="tab2">Tab 2</li>
            <li data-contents="tab3">Tab 3</li>
          </ul>
          <ul class="jtabberContent">
            <li class="open" data-tab="tab1">
              <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
            </li>
            <li data-tab="tab2">
              <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
            </li>
            <li data-tab="tab3">
              <p>A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element. A lot of content can be placed here. It can be any html element.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 no-equalize">
          <h2>Equal Heights (flex-col)</h2>
        </div>
        <div class="flex-col flex-col-fea-6 flex-col-des-3" style=" margin-bottom: 10px; background: #E04D4D; color: #ffffff;">
          hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello
        </div>
        <div class="flex-col flex-col-fea-6 flex-col-des-3" style=" margin-bottom: 10px; background: #E04D4D; color: #ffffff;">
          hello
        </div>
        <div class="flex-col flex-col-fea-6 flex-col-des-3" style=" margin-bottom: 10px; background: #E04D4D; color: #ffffff;">
          hello hello hello hello hello hello hello hello hello hello
        </div>
        <div class="flex-col flex-col-fea-6 flex-col-des-3 no-equalize" style=" margin-bottom: 10px; background: #E04D4D; color: #ffffff;">
          The "no-equalize" class has been added.
        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h2>Centered Elements</h2>
        </div>
        <div class="jcol jcol-fea-4 center-vert" style="background: #B8BDC8; color: #ffffff; height: 100px; text-align: center;">
          <p>Centered vertically</p>
        </div>
        <div class="jcol jcol-fea-4 center-both" style="background: #B8BDC8; color: #ffffff; height: 100px; text-align: center;">
          <p>Centered horizontally and vertically</p>
        </div>
        <div class="jcol jcol-fea-4 center-hori" style="background: #B8BDC8; color: #ffffff; height: 100px; text-align: center;">
          <p>Centered horizontally</p>
        </div>
      </div>
    </div>

    <div{{ container_attributes }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h2>Grid System</h2>
          <h3>Columns ~ Normal</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-2">2</div>
        <div class="jcol jcol-fea-2">2</div>
        <div class="jcol jcol-fea-2">2</div>
        <div class="jcol jcol-fea-2">2</div>
        <div class="jcol jcol-fea-2">2</div>
        <div class="jcol jcol-fea-2">2</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-3">3</div>
        <div class="jcol jcol-fea-3">3</div>
        <div class="jcol jcol-fea-3">3</div>
        <div class="jcol jcol-fea-3">3</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-4">4</div>
        <div class="jcol jcol-fea-4">4</div>
        <div class="jcol jcol-fea-4">4</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-6">6</div>
        <div class="jcol jcol-fea-6">6</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-12">12</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-11">11</div>
        <div class="jcol jcol-fea-1">1</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-10">10</div>
        <div class="jcol jcol-fea-2">2</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-9">9</div>
        <div class="jcol jcol-fea-3">3</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-8">8</div>
        <div class="jcol jcol-fea-4">4</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-7">7</div>
        <div class="jcol jcol-fea-5">5</div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-2">2</div>
        <div class="flex-col flex-col-fea-2">2</div>
        <div class="flex-col flex-col-fea-2">2</div>
        <div class="flex-col flex-col-fea-2">2</div>
        <div class="flex-col flex-col-fea-2">2</div>
        <div class="flex-col flex-col-fea-2">2</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-3">3</div>
        <div class="flex-col flex-col-fea-3">3</div>
        <div class="flex-col flex-col-fea-3">3</div>
        <div class="flex-col flex-col-fea-3">3</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-4">4</div>
        <div class="flex-col flex-col-fea-4">4</div>
        <div class="flex-col flex-col-fea-4">4</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-6">6</div>
        <div class="flex-col flex-col-fea-6">6</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12">12</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-11">11</div>
        <div class="flex-col flex-col-fea-1">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-11">11</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-10">10</div>
        <div class="flex-col flex-col-fea-2">2</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-9">9</div>
        <div class="flex-col flex-col-fea-3">3</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-8">8</div>
        <div class="flex-col flex-col-fea-4">4</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-7">7</div>
        <div class="flex-col flex-col-fea-5">5</div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">
          <h3>Columns ~ Flush</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-3 jcol-flush">3</div>
        <div class="jcol jcol-fea-3 jcol-flush">3</div>
        <div class="jcol jcol-fea-3 jcol-flush">3</div>
        <div class="jcol jcol-fea-3 jcol-flush">3</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-4 jcol-flush">4</div>
        <div class="jcol jcol-fea-4 jcol-flush">4</div>
        <div class="jcol jcol-fea-4 jcol-flush">4</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-6 jcol-flush">6</div>
        <div class="jcol jcol-fea-6 jcol-flush">6</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">12</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-11 jcol-flush">11</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-10 jcol-flush">10</div>
        <div class="jcol jcol-fea-2 jcol-flush">2</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-9 jcol-flush">9</div>
        <div class="jcol jcol-fea-3 jcol-flush">3</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-8 jcol-flush">8</div>
        <div class="jcol jcol-fea-4 jcol-flush">4</div>
      </div>
      <div class="jrow">
        <div class="jcol jcol-fea-7 jcol-flush">7</div>
        <div class="jcol jcol-fea-5 jcol-flush">5</div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-3 flex-col-flush">3</div>
        <div class="flex-col flex-col-fea-3 flex-col-flush">3</div>
        <div class="flex-col flex-col-fea-3 flex-col-flush">3</div>
        <div class="flex-col flex-col-fea-3 flex-col-flush">3</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
        <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
        <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-6 flex-col-flush">6</div>
        <div class="flex-col flex-col-fea-6 flex-col-flush">6</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 flex-col-flush">12</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-11 flex-col-flush">11</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-11 flex-col-flush">11</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-10 flex-col-flush">10</div>
        <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-9 flex-col-flush">9</div>
        <div class="flex-col flex-col-fea-3 flex-col-flush">3</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-8 flex-col-flush">8</div>
        <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
      </div>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-7 flex-col-flush">7</div>
        <div class="flex-col flex-col-fea-5 flex-col-flush">5</div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h3>Columns ~ Normal + Nest | Normal</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-nest">

          <div class="jrow">
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
          </div>

          <div class="jrow">
            <div class="jcol jcol-fea-4">4</div>
            <div class="jcol jcol-fea-4">4</div>
            <div class="jcol jcol-fea-4">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 flex-col-nest">

          <div class="flex-row">
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
          </div>

          <div class="flex-row">
            <div class="flex-col flex-col-fea-4">4</div>
            <div class="flex-col flex-col-fea-4">4</div>
            <div class="flex-col flex-col-fea-4">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h3>Columns ~ Normal + Nest + Nest Flush | Flush</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-nest jcol-nest-flush">

          <div class="jrow">
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
          </div>

          <div class="jrow">
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 flex-col-nest flex-col-nest-flush">

          <div class="flex-row">
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
          </div>

          <div class="flex-row">
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">
          <h3>Columns ~ Flush + Nest | Normal</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush jcol-nest">

          <div class="jrow">
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
            <div class="jcol jcol-fea-2">2</div>
          </div>

          <div class="jrow">
            <div class="jcol jcol-fea-4">4</div>
            <div class="jcol jcol-fea-4">4</div>
            <div class="jcol jcol-fea-4">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 flex-col-flush flex-col-nest">

          <div class="flex-row">
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
            <div class="flex-col flex-col-fea-2">2</div>
          </div>

          <div class="flex-row">
            <div class="flex-col flex-col-fea-4">4</div>
            <div class="flex-col flex-col-fea-4">4</div>
            <div class="flex-col flex-col-fea-4">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">
          <h3>Columns ~ Flush + Nest + Nest Flush | Flush</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush jcol-nest jcol-nest-flush">

          <div class="jrow">
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
            <div class="jcol jcol-fea-2 jcol-flush">2</div>
          </div>

          <div class="jrow">
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
            <div class="jcol jcol-fea-4 jcol-flush">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-12 flex-col-flush flex-col-nest flex-col-nest-flush">

          <div class="flex-row">
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
            <div class="flex-col flex-col-fea-2 flex-col-flush">2</div>
          </div>

          <div class="flex-row">
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
            <div class="flex-col flex-col-fea-4 flex-col-flush">4</div>
          </div>

        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h3>Columns ~ Normal + Hop + Pop</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-1">1</div>
        <div class="jcol jcol-fea-12 jcol-tab-6 jcol-tab-hop-3 jcol-tab-pop-3 jcol-des-7 jcol-des-hop-1 jcol-des-pop-4">12 | 3 < 6 > 3 | 1 < 7 > 4</div>
        <div class="jcol jcol-fea-6 jcol-fea-hop-3 jcol-fea-pop-3">3 < 6 > 3</div>
        <div class="jcol jcol-fea-4 jcol-fea-hop-2 jcol-fea-pop-6">2 < 4 > 6</div>
        <div class="jcol jcol-fea-7 jcol-fea-hop-5"> 5 < 7</div>
        <div class="jcol jcol-fea-8 jcol-fea-pop-4">8 > 4</div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-1">1</div>
        <div class="flex-col flex-col-fea-12 flex-col-tab-6 flex-col-tab-hop-3 flex-col-tab-pop-3 flex-col-des-7 flex-col-des-hop-1 flex-col-des-pop-4">12 | 3 < 6 > 3 | 1 < 7 > 4</div>
        <div class="flex-col flex-col-fea-6 flex-col-fea-hop-3 flex-col-fea-pop-3">3 < 6 > 3</div>
        <div class="flex-col flex-col-fea-4 flex-col-fea-hop-2 flex-col-fea-pop-6">2 < 4 > 6</div>
        <div class="flex-col flex-col-fea-7 flex-col-fea-hop-5"> 5 < 7</div>
        <div class="flex-col flex-col-fea-8 flex-col-fea-pop-4">8 > 4</div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">
          <h3>Columns ~ Flush + Hop + Pop</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-1 jcol-flush">1</div>
        <div class="jcol jcol-fea-12 jcol-tab-6 jcol-tab-hop-3 jcol-tab-pop-3 jcol-des-7 jcol-des-hop-1 jcol-des-pop-4 jcol-flush">12 | 3 < 6 > 3 | 1 < 7 > 4</div>
        <div class="jcol jcol-fea-6 jcol-fea-hop-3 jcol-fea-pop-3 jcol-flush">3 < 6 > 3</div>
        <div class="jcol jcol-fea-4 jcol-fea-hop-2 jcol-fea-pop-6 jcol-flush">2 < 4 > 6</div>
        <div class="jcol jcol-fea-7 jcol-fea-hop-5 jcol-flush"> 5 < 7</div>
        <div class="jcol jcol-fea-8 jcol-fea-pop-4 jcol-flush">8 > 4</div>
      </div>
    </div>

    <div{{ container_attributes.addClass('flex-container') }}>
      <div class="flex-row">
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-1 flex-col-flush">1</div>
        <div class="flex-col flex-col-fea-12 flex-col-tab-6 flex-col-tab-hop-3 flex-col-tab-pop-3 flex-col-des-7 flex-col-des-hop-1 flex-col-des-pop-4 flex-col-flush">12 | 3 < 6 > 3 | 1 < 7 > 4</div>
        <div class="flex-col flex-col-fea-6 flex-col-fea-hop-3 flex-col-fea-pop-3 flex-col-flush">3 < 6 > 3</div>
        <div class="flex-col flex-col-fea-4 flex-col-fea-hop-2 flex-col-fea-pop-6 flex-col-flush">2 < 4 > 6</div>
        <div class="flex-col flex-col-fea-7 flex-col-fea-hop-5 flex-col-flush"> 5 < 7</div>
        <div class="flex-col flex-col-fea-8 flex-col-fea-pop-4 flex-col-flush">8 > 4</div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('remove_this').removeClass('flex-container') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12">
          <h2>Sidebars</h2>
          <h3>Columns ~ Normal</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this').addClass('jcontainer-has-sidebar') }}>
      <div class="jcontent jcontent-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
      <div class="jsidebar jsidebar-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes }}>
      <div class="jsidebar jsidebar-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
      <div class="jcontent jcontent-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('jcontainer-has-sidebar').addClass('jcontainer-has-sidebar-both') }}>
      <div class="jsidebar jsidebar-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
      <div class="jcontent jcontent-middle">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
      <div class="jsidebar jsidebar-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
          <div class="jcol jcol-fea-12">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('jcontainer-has-sidebar-both').removeClass('remove_this') }}></div>

    <div{{ container_attributes.removeClass('remove_this') }}>
      <div class="jrow">
        <div class="jcol jcol-fea-12 jcol-flush">
          <h3>Columns ~ Flush</h3>
        </div>
      </div>
    </div>

    <div{{ container_attributes.addClass('remove_this').addClass('jcontainer-has-sidebar') }}>
      <div class="jcontent jcontent-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
      <div class="jsidebar jsidebar-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes }}>
      <div class="jsidebar jsidebar-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
      <div class="jcontent jcontent-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('jcontainer-has-sidebar').addClass('jcontainer-has-sidebar-both') }}>
      <div class="jsidebar jsidebar-left">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
      <div class="jcontent jcontent-middle">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
      <div class="jsidebar jsidebar-right">
        <div class="jrow">
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
          <div class="jcol jcol-fea-12 jcol-flush">12</div>
        </div>
      </div>
    </div>

    <div{{ container_attributes.removeClass('jcontainer-has-sidebar-both').removeClass('remove_this') }}></div>
    {# -||||||||||||||||||| INCLUDE FINISH |||||||||||||||||||- #}